.main-chat
  .header
    .header-left
      .header-left__group-name
        test
      .header-left__member-name
        members
    .header-right
      = link_to '#',class: "header-right__edit" do
        Edit
  .chat-btm
    .chat
      .upper-chat
        .upper-chat__user-name
          aaaaaaaaa
        .upper-chat__deta
          2020/03/05
      .lower-chat 
      こんにチュワ 
    .chat
      .upper-chat
        .upper-chat__user-name
          っっヴェオリア
        .upper-chat__deta
          2020/03/05
      .lower-chat 
      こんちわ
    .chat
      .upper-chat
        .upper-chat__user
          gっご
        .upper-chat__deta
          2020/03/05
      .lower-chat 
      ここ多オッコおお%k    
  .chat-footer
    .footer
      .messege-box
        .messege-box__text
          messege
        .messege-box__icon 
          %label{class: "icon-box"}
            = icon('fas', 'image')
            %input{type: "file"} 
      .send-box
        send