* {
  box-sizing: border-box;
  .main-chat{
    width: calc(100vw - 300px);
    height: 100vh;
    float:left;
    display: block;
      .header{
        background-color: #ffffff;
        height: 100px;
        display: flex;
        .header-left{
          margin-top: 35px;
          margin-left: 20px;
          box-sizing: border-box;
          width: 60px;
          &__group-name{
            width: 60px;
            height: 20px;
            margin-bottom: 15px;
            font-size: 20px;
            columns: #333333;
            white-space: nowrap;
          }
          &__member-name{
            width: 60px;
            height: 20px;
            font-size: 12px;
            columns: #999999;
            white-space: nowrap;
          }
        }
        .header-right{
          box-sizing: border-box;
          width:72px;
          margin: 0 20px 0 auto;

          &__edit{
            display: block;
            height: 40px;
            margin: 28px 0 28px 0;
            font-size: 16px;
            border: solid 1px;
            border-color: lightblue;
            text-align: center;
            color: lightblue;
            text-decoration: none;
          }
        }
      }
      .chat-btm{
        height: calc(100vh - 190px);
        box-sizing: border-box;
        padding: 46px 40px 0;
        overflow: scroll;
        background-color: #fafafa;
        .chat{
          .upper-chat{
            display: flex;
            &__user-name{
              font-size: 16px;
              font-weight:bold;
              color: #333333;
            }
            &__date{
              font-size:12px;
              padding-left:10px;
              color: #999999;
            }
          }  
        }
        .lower-chat{
          margin-top: 10px;
          margin-bottom: 10px;
          color: #434a54;
          font-size: 14px;
        }
      }
      .form{
        background-color: #d2d2d2;
        height: 90px;
        box-sizing: border-box;
        padding: 20px 50px 20px 40px;
        .new_message{
          height: 50px;
          color: #434a54;
          display:flex;
          position: relative;
          .form__text{
            height: 50px;
            padding-right: 10px;
            width: 100%;
            border: none;
          }
          .form-icon{
            position: absolute;
            right: 140px;
            &__image{
              font-size: 20px;
              line-height: 50px;
              &__icon{
              }
              .file-input{
                display: none;
              }
            }  
          } 
        .send-box{
          background-color: $light_blue;
          border: none;
          color: $white;
          float: right;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }
  }    
}          